@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap');
body{font-family: 'Poppins', sans-serif;}

.top{background-color: #fa8900;}
.top p{text-align: right;color: #fff; padding:6px 0px; margin: 0px; font-size: 14px; font-weight: 600;}
.top p a{color: #fff;}
.logo-menu{background-color: #f4f4f4;}
.logo-menu .logo{padding: 20px 0px;}
.logo-menu .logo img{width: 150px;}
.logo-menu .menu ul{float: right; padding: 24px 0px !important;}
.logo-menu .menu ul li a{color: #152e60 !important; font-weight: 600 !important; letter-spacing: 0px !important; font-family: 'Poppins', sans-serif;}
.logo-menu .cart{float: right; padding: 30px 0px;}
.logo-menu .cart a {background-color: #152e60; color: #fff; font-weight: 600; border-radius: 4px; padding: 4px 10px; font-size: 13px; font-family: 'Poppins', sans-serif;}
.logo-menu .cart a img{width: 8px; margin-bottom: 4px;}
.logo-menu .cart a span{width: 25px; height: 25px; border: solid 1px #152e60; border-radius: 100%; display: block; position:absolute; top: 16px; right: 0px; z-index: 10; background-color: #fff; color: #152e60; font-size: 16px; text-align: center;}

.m-hd{width: 100%; margin: 30px auto}
.m-hd h2{color: #152e60; font-size: 38px; font-weight: 200; text-align: center;font-family: 'Poppins', sans-serif; }
.m-hd span{width: 40%; height: 2px; border-radius: 10px; background-color: #152e60; display: block; margin: 6px auto;}
.m-hd h1{color: #fa8900; font-size: 24px; font-weight: 200; text-align: center; font-family: 'Poppins', sans-serif;}

.c-box{ box-shadow: 3px 3px 3px #ccc; }
.c-box .c-img img{width: 100%;}
.c-box .c-dlt{padding: 15px; background-color:#f4f4f4; z-index: 10000;}
.c-box .c-dlt h1{color: #110051; font-size: 20px; font-weight: 300; padding: 0px; margin: 0px 0px 10px 0px; line-height: 18px;font-family: 'Poppins', sans-serif;}
.c-box .c-dlt p{color: #110051; font-size: 14px; font-weight: 600; padding:2px 0px; margin: 0px; line-height: 18px; letter-spacing: -.5px;font-family: 'Poppins', sans-serif;}
.c-box .c-dlt i{font-size: 16px; font-weight: bold;}

.boxes .col-md-3{margin-bottom: 20px;}
.boxes .col-md-3:hover {padding: 0px; transition: .6s}
.c-box:hover .c-dlt{padding: 15px; background-color:#150554;}
.c-box:hover .c-dlt h1{color: #fff;font-family: 'Poppins', sans-serif;}
.c-box:hover .c-dlt p{color: #fff; font-weight: 400;font-family: 'Poppins', sans-serif;}
.c-box:hover .c-dlt i{color: #fff;  font-weight: 400;}

.read-more{margin: 60px 0px; text-align: center;}
.read-more a{border-radius: 4px; border:solid 1px #150554; font-size: 22px; margin: 0px; padding:6px 16px;font-family: 'Poppins', sans-serif; font-weight: 200; color: #150554;}
.read-more a:hover{text-decoration: none;}

.gry-bg{background-color: #f2f2f2;}
.blue-bg{background-color: #150554;}

.carea{padding: 100px 0px;}
.carea h2{color: #000000; font-size: 40px; margin:5px 0px; padding: 0px; font-weight: 100; line-height: 35px;font-family: 'Poppins', sans-serif;}
.carea h1{color: #000000; font-size: 30px; margin:5px 0px; padding: 0px; font-weight: 300;font-family: 'Poppins', sans-serif;}
.carea p{color: #000000; font-size: 17px; margin:5px 0px; padding: 0px; font-weight: 400; line-height: 28px; text-align: justify;font-family: 'Poppins', sans-serif;}

.blue-bg h2{color: #fff !important;}

.testimonial h2{margin: 25px 7px;font-family: 'Poppins', sans-serif;}
.testimonial .testi{margin: 0px; padding: 30px; background-color: #0e0042; border:solid 1px #180074;}
.testimonial .testi .auther{margin: 0px; padding: 0px; }
.testimonial .testi .auther .p-img{margin: 0px 10px 0px 0px; padding: 0px; width: 65px; height: 65px; border-radius: 100%; border:solid 2px #180074; float: left;}
.testimonial .testi .auther .p-img img{ border:solid 1px #180074;  border-radius: 100%; width: 100%;}
.testimonial .testi .auther .p-dtl{margin: 0px; padding: 10px;}
.testimonial .testi .auther .p-dtl h1{font-family: 'Poppins', sans-serif;margin: 0px; padding: 0px; font-size: 22px; color: #c1c1c1; font-weight: 600;}
.testimonial .testi .auther .p-dtl p{font-family: 'Poppins', sans-serif;margin: 0px; padding: 0px; font-size: 16px; color: #ff9600; font-weight: 400; line-height: 20px;}
.testimonial .testi .comments{margin: 0px; padding: 0px;}
.testimonial .testi .comments p{font-family: 'Poppins', sans-serif;margin: 0px; padding: 20px 0px; color: #ababab; font-weight: 400; font-size:18px; text-align: left; line-height: 28px}

.testimonial ul li:hover .testi{background-color: #fff;transition: .6s}
.testimonial ul li:hover .testi h1{font-family: 'Poppins', sans-serif;color: #150554 !important;}
.testimonial ul li:hover .testi .comments p{font-family: 'Poppins', sans-serif;color: #150554 !important;}

.fxd-bg{background-image: url(./images/bg-fixed.jpg); background-attachment: fixed; }
.fxd-bg .container-fluid{background-color: rgba(255,255,255, 0.5);padding: 100px 0px;}
.fxd-bg .ftrs{text-align: center;}
.fxd-bg .ftrs h2{font-family: 'Poppins', sans-serif;font-weight: bold; text-transform: uppercase;font-size: 30px;
   padding: 15px 0px;}

.footer{background-color: #cccccc; padding: 100px 0px; }
.footer .f1{padding-right: 50px;}
.footer h1{font-family: 'Poppins', sans-serif;color: #000000; font-size: 30px; margin:5px 0px; padding: 0px; font-weight: 300;}
.footer p{font-family: 'Poppins', sans-serif;color: #000000; font-size: 17px; margin:5px 0px; padding: 0px; font-weight: 400; line-height: 28px; text-align: justify;}
.footer ul{margin: 0px; padding: 0px;}
.footer ul li{margin: 0px; padding: 0px; list-style: none;}
.footer ul li a img{padding-right: 10px;}
.footer ul li a{font-family: 'Poppins', sans-serif;color: #000000; font-size: 17px; margin:5px 0px; padding: 0px; font-weight: 400; line-height: 28px;}

.footer1{background-color: #252525;}
.footer1 p{font-family: 'Poppins', sans-serif;color: #646464; margin:30px 0px; padding: 0px;}
.footer1 img{padding: 10px;}


.footer2{background-color: #ff7e00;}
.footer2 p{font-family: 'Poppins', sans-serif;color: #cccccc; margin:10px 0px; padding: 0px;}

.banner-box{background-color: rgba(250, 137, 0, .9); position: absolute; z-index: 10; top: 100px; padding: 50px 50px 50px 200px;}
.banner-box h1{font-family: 'Poppins', sans-serif;font-size: 60px; color: #fff; padding: 0px; margin: 0px; font-weight: 100; line-height: 30px;}
.banner-box h2{font-family: 'Poppins', sans-serif;font-size: 80px; color: #fff; padding: 0px; margin: 0px; font-weight: bold; line-height: 80px; text-transform: uppercase;}
.banner-box h3{font-family: 'Poppins', sans-serif;font-size: 62px; color: #fff; padding: 0px; margin: 0px 0px 40px 0px; font-weight: 100;line-height: 30px; }
.banner-box a{font-family: 'Poppins', sans-serif;font-size: 25px; color: #fff; padding:6px 15px; margin: 0px; font-weight: 300; border-radius: 10px; border:solid 2px #fff; text-transform: uppercase;}

  
/* .banner{height: 660px;} */
.navbarItems{color: #0e0042;}

.cls{clear: both;}
.spc50{height: 50px; width: 100%;}

.inner .side .c-box:hover .c-dlt{background-color: #f4f4f4}
.inner .side .c-box:hover p{color:#0e0042; font-weight: 600;}
.inner .side .c-box {position: relative; height: 540px;}
.inner .side .c-box .c-dlt{ position: absolute; width: 100%; top: 235px;}
.inner .c-inner .c-dlt h1{font-family: 'Poppins', sans-serif;font-size: 18px; color: #000; padding: 0px; margin:30px 0px 0px 0px; font-weight: 500; text-transform: uppercase;} 
.inner .c-inner .c-dlt ul{margin: 0px; padding: 0px;}
.inner .c-inner .c-dlt li{font-family: 'Poppins', sans-serif;font-size: 14px; color: #000; padding: 0px; margin:10px 0px; font-weight: 300;} 
.inner .c-inner .c-dlt p {font-family: 'Poppins', sans-serif; font-size: 14px; color: #000; padding: 0px; margin:10px 0px; font-weight: 300; line-height: 22px;} 
.inner .c-dlt .cart {background-color: #0e0042; color: #fff; font-size: 13px; font-weight: 600; padding: 8px 6px; margin: 8px 0px;}
.inner .c-dlt .cart:hover{text-decoration: none; background-color: transparent; border:solid 2px #0e0042; color: #0e0042;}
.inner .side .c-box .c-dlt p{padding: 4px 0px;}
.inner .side .c-box .c-dlt:hover p{color:#0e0042; font-weight: 600; display: block;}
.inner .side .c-box .c-dlt span{float: right; width:50%; font-weight: 400 !important;}
.inner .side .c-box .c-dlt .price{text-align: right;}
.inner .side .c-box .c-dlt .cart-btn{padding: 16px 0px 0px 0px;}
.inner .side .c-box .c-dlt s{color: #9a9a9a;}
.inner .side .c-box .c-dlt .line1{background-color: #9a9a9a; width: 100%; height: 1px; margin: 20px auto;}

.inner .ftrs{margin: 40px 0px;}
.inner .ftrs img{float: left; width: 50px; margin-right: 20px;}
.inner .ftrs h2{float: left;  }

.blu-btn{}
.blu-btn a{font-family: 'Poppins', sans-serif;background-color: #0e0042; border: solid 1px #180074; color: #c1c1c1; font-size: 14px; text-transform: uppercase; padding: 14px 25px; font-weight: 600;}
.orng-btn a{font-family: 'Poppins', sans-serif;background-color: #ff7e00; border: solid 1px #180074; color: #0e0042; font-size: 14px; text-transform: uppercase; padding: 14px 25px; font-weight: 600;}

.blu-btn span{font-family: 'Poppins', sans-serif;background-color: #0e0042; border: solid 1px #180074; color: #c1c1c1; font-size: 14px; text-transform: uppercase; padding: 14px 25px; font-weight: 600;}
.orng-btn span{font-family: 'Poppins', sans-serif;background-color: #ff7e00; border: solid 1px #180074; color: #0e0042; font-size: 14px; text-transform: uppercase; padding: 14px 25px; font-weight: 600;}

.p100 .col-md-3{padding-top:20px; }
.crs-dtls{text-align: center;}
.crs-dtls h1{font-family: 'Poppins', sans-serif;color: #c1c1c1; font-size: 18px; text-transform: uppercase; font-weight: 200;}
.crs-dtls .line2{width: 100%; margin: 0 auto; height: 1px; background-color: #c1c1c1; margin: 10px 0px;}
.crs-dtls p s{color: #c1c1c1; font-size: 14px; text-transform: uppercase; font-weight: 200;}
.crs-dtls p{font-family: 'Poppins', sans-serif;color: #ff7e00; font-size: 35px; text-transform: uppercase; font-weight: 300;}

.p100{padding: 100px 0px;}

.hlf{width: 50%;}

.f-lft{float: left;}

.c-inner i{color: #e67b3d;}
.inner .side .c-box .c-dlt i{color: #e67b3d; font-weight: 200; font-size: 12px; margin-right: 10px;}

.cart .cart-box{ }
.cart .cart-box table th{border:solid 1px #ccc; font-size: 14px;font-family: 'Poppins', sans-serif; padding: 10px; }
.cart .cart-box table td{border:solid 1px #ccc;  padding-right: 10px !important; }
.cart .cart-box .c-img{padding: 8px; vertical-align:middle;}
.cart .cart-box .c-img img{width: 50%;}
.cart .cart-box .c-dlt{padding: 0px 0px 10px 0px;  vertical-align:middle;}
.cart .cart-box h2{font-family: 'Poppins', sans-serif;font-size: 18px; color: #000; padding: 0px 10px; margin:2px 0px 0px 0px !important; font-weight: 500; text-transform: uppercase;}
.cart .cart-box p{font-family: 'Poppins', sans-serif; font-size: 14px; color: #000; padding: 0px 10px; margin:2px 0px !important; font-weight: 300; line-height: 22px;} 
.cart .cart-box .price{ padding: 0px 0px 0px 0px; vertical-align:middle;}
.cart .cart-box h3{font-family: 'Poppins', sans-serif;font-size: 18px; color: #000; padding: 0px 10px; margin:2px 0px 0px 0px !important; font-weight: 500; text-transform: uppercase;}
.cart .cart-box .delet{vertical-align:middle; }
.cart .cart-box .delet p{font-size: 20px; color: red;}
.cart .cart-box .delet p a{color: red;}

.register-box label{font-size: 16px; color: #000; padding: 0px; margin: 0px; font-family: 'Poppins', sans-serif;}
.register-box input{width: 100%; padding: 16px 20px; margin: 10px 0px 15px 0px; font-size: 14px; font-family: 'Poppins', sans-serif; border: solid 1px #150554; }
.register-box span input{width: auto !important; padding: 6px; margin-right: 10px;}
.register-box span { font-family: 'Poppins', sans-serif; font-size: 14px; display: block;}
.register-box .col-md-6{padding: 10px 30px;}
.register-box button{padding: 16px 30px; background-color: #150554; font-size: 16px; color: #fff;font-family: 'Poppins', sans-serif;  border: none; margin-bottom: 20px; }
.register-box span p{padding-bottom: 30px; line-height: 22px;}
.register-box h1{font-size: 18px; color: #150554; margin: 30px 0px; padding: 0px; font-weight: bold; text-transform: uppercase;}
.register-box .line4{width: 1px; height: 400px; background-color: #ccc; margin: 0 auto;}

.cart-box .btn-blue{border:solid 1px #150554; background-color: #150554; color: #fff; padding: 10px 20px; font-size: 16px;font-family: 'Poppins', sans-serif; margin: 10px 0px 30px 0px; }
.cart-box .btn-blue:hover{border:solid 1px #150554;color: #150554;   background-color: #fff; }

.cart-box .btn-orange{ background-color: #ff7e00; color: #fff; padding: 10px 20px; font-size: 16px;font-family: 'Poppins', sans-serif; margin: 10px 0px 30px 0px; }
.cart-box .btn-orange:hover{border:solid 1px #150554;color: #150554;   background-color: #fff; }

.total tr td{padding: 10px 12px !important;}



/* //@sahadpareed */

  /* Chapter Section */

  /* .chapter-box-content{ height: 90px; width: 100%; border: 1px solid #a2a6a3; padding: 15px; margin-bottom:10px; border-radius: 10px; b7edb4 edc5c5 } */ 
  #chapter-section{ background-color:#f1f0f0; padding: 40px;}
  .chapter-box-content{ height: 90px; width: 100%; background-color: #ececec; padding: 15px; margin-bottom:10px; border-radius: 10px; }
  .box-text{ color: black; font-size: 17px; }
  .sub-text{ font-size: 12px; margin-top: -5px; color: black }

  /* .index-section{ border-left: 1px solid rgb(221, 219, 216); border-right: 1px solid rgb(221, 219, 216); padding-top: 3%;} */
  .index-section{ background-color: #fff; padding-top: 20px; padding-bottom: 20px;  border-radius: 20px;}
  .progress-text{ color: green; font-size: 14px; }
  .index-box-text{ color: black; font-size: 15px; border-bottom: 1px solid rgb(221, 219, 216); }

  .chapter-nav-box{ background-color: #f5f5f5; border-radius: 5px; cursor: pointer}
  .chapter-nav-box:hover{ background-color: #bbbfbb; }

  .chapter-nav-box2{ background-color: #b7edb4; border-radius: 5px; cursor: pointer}
  .chapter-nav-box2:hover{ background-color: #73bf6f; }

  .chapter-nav-text{ font-size: 14px;}


  .chapter-details-layout{ background-color: #fff; border-radius: 20px; padding-top: 20px; padding-bottom: 20px;}

  .subchapter-nav{ background-color: #fff; border-radius: 8px;}
  .subchapter-div:hover{ background-color: #c5c9c5;}
  .subchapter-nav-txt{ color: #000; font-size: 12px;}

  .account-navigation { background-color: #ebeae8; border-radius: 10px;}
  .account-nav-item{ height: 50px; margin-top: 20px; padding-left: 30px; border-radius: 8px; display: flex; align-items: center;}
  .account-nav-item:hover{ background-color: #ffc107;}
  .account-nav-text{font-size: 16px; text-transform: uppercase;}
  .account-nav-selected{ background-color: #fff;}

  .exam-layout{background-color: #fff; border-radius: 10px; padding: 10px;}

  .add-chapter-layout{background-color: #ebeae8; border-radius: 10px;}
  .add-chapter-controller{background-color: #fff; border-radius: 10px;}

  .user-table:hover{ background-color: #ffc107; cursor: pointer;}

/* //@sahadpareed */



/*==== mediaQueries ====*/
@media all and (max-width: 1200px) {

}
@media all and (max-width: 992px) {
}


@media all and (max-width: 768px) {
  #cssmenu #menu-button{color: #150554 !important;}
  .logo{position: relative;}
  .logo-menu .col-md-1{position:absolute; z-index:10000; right:0px; top:42px;	}
  .banner-box{display: none;}
  .m-img img{width: 100%;}
  .p100 {padding: 50px 0px;}
  .p100 .col-md-3{text-align: center;}
  .crs-dtls{padding:40px 0px 20px 0px;}
  .cart .cart-box{overflow-y: scroll;}
  .cart .cart-box .c-img{display: none;}
  .cart .cart-box .m-img{display: none;}
  .cart .cart-box h2{ font-size: 12px;}
  .cart .cart-box h3{ font-size: 12px;}
  .register-box .col-md-2{display: none;}
}



@media screen and (-webkit-min-device-pixel-ratio:0)